.page-header{
	color:  #00264d;
	text-align: center;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 15px;
	margin: auto;
	font-family: 'Dancing Script', cursive;
}

#header{
	font-size: 65px;
}

body{
	background-image: url("nybg.jpg")
	
}

#display{
	color: white;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: 35px;
}

#questionList{
	color:  #00264d;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
}

#intro{
	color: White;
	font-family: 'Dancing Script', cursive;
	font-size: 45px;
	text-align: center;
}

#SplashScreen {
	text-align: center;
}

#StartButton{
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
            color: #00264d;
            background-color: white;
            font-family: 'Dancing Script', cursive;
}

#results{
	color: White;
	font-family: 'Dancing Script', cursive;
	font-size: 45px;
	text-align: center;
}